
<h1 id= "user-greeting">Hello {{user.name}}!</h1>

<h1 id= "your-posts-title"> Your posts:</h1>
{{#each posts as |post|}}
{{>dash-details}}
{{/each}} 

<div class= "container options-area">
    <div class = "row w-50 justify-content-center my-4">
                <form class="form post-form">
                        <div class="form-group">
                        <label for="post-title">Enter your post title</label>
                        <input class="form-input" type="text" id="post-title" />
                        </div>
                        <div class="form-group">
                        <label for="comment-body">Enter your post body</label>
                        <input class="form-input" type="text" id="post-body" />
                        </div>
                        <div class="form-group">
                        <button class= "btn blue w-25 post-button" type="submit">Submit</button>
                        </div>
                </form>
        </div>  
    </div>
</div>

<script src="/js/post.js"></script>
