* {
	box-sizing: border-box;
	width: 100%;
}

body {
	font-family: Verdana, sans-serif;
}

.blue {
	background-color: #b7d3f3;
}

header {
	display: flex;
	height: auto;
	background-color: #e09264;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

header h1 {
	font-size: 40px;
	font-family: 'rubik', sans-serif;
	color: rgb(255, 229, 196);
	margin: auto;
	padding: 30px;
}

.nav-list {
	display: flex;
	padding: 20px;
}

.nav-list a {
	text-decoration: none;
	color: black;
	font-family: 'lato', sans-serif;
	font-size: 30px;
	text-align: center;
}

#home-title {
	font-size: 40px;
	margin: auto;
	text-align: center;
	padding: 20px;
}

.card-header {
	font-size: 20px;
}

.card-body {
	font-size: 17px;
}

#comment-title {
	font-size: 20px;
	margin: 10px auto 10px auto;
	width: 200px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	background-color: #cecece;
}

#no-comments {
	margin: 20px auto 10px auto;
	text-align: center;
	font-size: 20px;
}
